li {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
    margin-bottom: 10px;
    color: blue;
}

form {
    background-color: lightblue;
}

h1 {
    background-color: darkblue;
    color: white;
}

th {
    color: black;
}

td {
    color: darkblue;
}

a {
    text-decoration: none;
    color: darkblue;
}

pre {
   font-family: none;
   font-size: 15px;
}

div {
    background-color: lightgreen;
}

.menu {
    display: inline;
}

nav {
    float: right;
}