{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'phone/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fabricantes</title>
</head>
<body>
<h1>Fabricantes de Smartphones</h1>
<ul>
    {% for fabricante in fabricantes %}
    <li>{{ fabricante.nombre }}</li>
    <table>
        {% for smartphone in fabricante.smartphone_set.all %}
        <tr>
            <th><pre class="tab">{{ smartphone.nombre }}    {{ smartphone.ram }}GB  {{ smartphone.almacenamiento }}GB   {{ smartphone.tamaño_pantalla }}''<pre></pre></th>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</ul>
<button><a href="/smartphone-create">Crear smartphone</a></button>
<button><a href="/fabricante-create">Crear fabricante</a></button>
</body>
</html>